<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Add Contact</title>
</head>

<body>
	<section>

		<div class="card me-3 ms-3">
			<div class="card-body">

				<h1 class="text-center">
					<i class="fa-solid fa-user-nurse"></i> Add Contact
				</h1>

				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<form th:object="${contact}" th:action="@{/user/process-contact}"
								method="post" enctype="multipart/form-data" class="mt-2">

								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div style="height: 40px;" class="input-group-text me-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="firstName" name="name"
										required="required" placeholder="Enter Name Here"
										class="form-control" />
								</div>

								<!-- Second Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div style="height: 40px;" class="input-group-text me-3">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="secondName" name="secondName"
										required="required" placeholder="Enter Second Name Here"
										class="form-control" />
								</div>

								<!-- Phone -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div style="height: 40px;" class="input-group-text me-3">
											<i class="fa-solid fa-phone"></i>
										</div>
									</div>
									<input type="tel" id="phone" name="phone" required="required"
										placeholder="Enter Phone Here" class="form-control" />
								</div>

								<!-- Email -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div style="height: 40px;" class="input-group-text me-3">
											<i class="fa-solid fa-envelope"></i>
										</div>
									</div>
									<input type="email" id="email" name="email" required="required"
										placeholder="Enter Email Here" class="form-control" />
								</div>

								<!-- Work -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div style="height: 40px;" class="input-group-text me-3">
											<i class="fa-solid fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work" required="required"
										placeholder="Enter Work Here" class="form-control" />
								</div>

								<!-- Description -->
								<div class="form-group mt-3">
									<textarea id="decscription" name="description"
										class="form-control" placeholder="Enter Contact Description"
										rows="10"></textarea>
								</div>


								<!--   <!-- Image Upload -->
								<!--  <div class="form-group mt-3">
                                <label for="image">Upload Profile Image:</label>
                                <input type="file" name="image" id="image" class="form-control"/>
                            </div>  -->

								<!-- Submit Button -->
								<div class="container text-center mt-3">
									<button type="submit" class="btn btn-info btn-md fw-semibold">
										Save Contact</button>
								</div>

							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- <script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
			referrerpolicy="origin" crossorigin="anonymous"></script>
		<script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script> -->
	</section>
</body>
</html>
