<!doctype html>
<html lang="en" xmlns:th="/http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3">

						<!-- Alert block for success or error messages -->
						<div th:if="${session.message}"
							th:class="'alert ' + ${session.message.type}" role="alert">
							<p class="text-center" th:text="${session.message.content}">This
								is a message</p>

							<th:block th:text="${@sessionHelper.removeMessageFromSession()}">
		
		                   </th:block> 
						</div>


						<div class="container text-center">

							<img style="width: 70px;" alt="" th:src="@{/image/register.png}">

						</div>

						<h2 class="text-center ">Register Here !!</h2>
						
						<form novalidate="novalidate" action="" th:action="@{/do_register}" method="post"
							th:object="${user}">

							<div class="mb-3">
								<label for="name" class="form-label">Full Name</label> <input
									type="text" class="form-control "
									th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
									id="name" name="name" required placeholder="Enter Your Name"
									th:value="${user.name}" />

								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
									 class="invalid-feedback">
									</div>
							</div>

							<div class="mb-3">
								<label for="email_field" class="form-label">Email</label> <input
									type="email" class="form-control" id="email_field" name="email"
									required placeholder="Enter Your Email"
									th:value="${user.email}" />
							</div>

							<div class="mb-3">
								<label for="password_field" class="form-label">Password</label>
								<input type="password" class="form-control" id="password_field"
									name="password" required placeholder="Enter Your Password" />
							</div>

							<div class="mb-3">
								<label for="description" class="form-label">Description
									About You</label>
								<textarea class="form-control" id="description" name="about" th:text="${user.about}"
									rows="10" required placeholder="Enter Something About Yourself"
									></textarea>
							</div>

							<div class="form-group form-check">

								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement"> Accept terms
									& conditions</label>


							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Submit</button>
								<button type="reset" class="btn btn-warning text-white">
									Reset</button>

							</div>




						</form>


					</div>


				</div>

			</div>

		</div>

	</section>
</body>
</html>